## **Boolean expressions**

A boolean expression is an expression that is either true or false

In [3]:
5 == 5

True

In [4]:
5 == 6

False

In [7]:
# True and False are special values that belong to the class bool; they are not strings:
type(True)
type(False)

bool

## **Comparison operators**

In [10]:
# The == operator is one of the comparison operators; the others are:

# x != y ( x is not equal to y)

# x > y (x is greater than y)

# x < y  (x is less than y)

# x >= y (x is greater than or equal to y)

# x <= y (x is less than or equal to )

# x is y (x is the same as y

# x is not y (x is not the same as y)

## **Logical operators**

There are three logical operators: <span style="color: #676867;">and</span>, <span style="color: #676867;">or</span>, <span style="color: #676867;">and</span> <span style="color: #676867;">not</span>.

In [11]:
x = 7
x > 0 and x < 10 
# (is true only if x is greater than 0 and less than 10)

True

In [14]:
n = 4
n%2 == 0 or n%3 == 0 
# is true if either of the conditions is true, that is, if the number is divisible by 2 or 3.

True

In [16]:
# The not operator negates a boolean expression:
x = 5
y = 6
not (x > y) 
# is true if x > y is false; that is, if x is less than or equal to y.

True

## **Conditional statements**

### **if statements**

The boolean expression after the if statement is called the condition

We end the if statement with a colon character (:) and the line(s) after the if statement are indented

In [17]:
if x > 0 :
    print('x is positive')

x is positive

In [20]:
# Occasionally, it is useful to have a body with nostatements (usually as a place holder for code you haven’t written yet). 
# In thatcase, you can use the pass statement, which does nothing.
if x < 0 :
    pass

### **if.. else statements**

There are two possibilities the condition allows

In [21]:
if x%2 == 0 :
    print('x is even')
else :
    print('x is odd')

x is odd

### **Chained conditionals**

we need more than two branches

In [22]:
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is less than y

In [25]:
# There is no limit on the number of elif statements. 
# If there is an else clause, it has to be at the end, but there doesn’t have to be one
choice = 'c'

if choice == 'a':
    print('Bad guess')
elif choice == 'b':
    print('Good guess')
elif choice == 'c':
    print('Close, but not correct')

Close, but not correct

### **Nested conditionals**

In [27]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

# Although the indentation of the statements makes the structure apparent, nested conditionals become difficult to read very quickly.
# In general, it is a good idea to avoid them when you can

x is less than y

### **try-except**

Handling an exception with a try statement is called catching an exception

In [30]:
inp = input('Enter Fahrenheit Temperature:')
try:
    fahr = float(inp)
    cel = (fahr - 32.0) * 5.0 / 9.0
    print(cel)
except:
    print('Please enter a number')

# Python starts by executing the sequence of statements in the try block. 
# If all goes well, it skips the except block and proceeds. 
# If an exception occurs in the try block, Python jumps out of the try block and executes the sequence of statements in the except block.

Please enter a number

## **Iteration**

### **while statement**

In [32]:
n = 5
while n > 0:
    print(n)
    n = n - 1
print('Blastoff!')
# This type of flow is called a loop because the third step loops back around to the top
# The body of the loop should change the value of one or more variables so that 
# eventually the condition becomes false and the loop terminates

5
4
3
2
1
Blastoff!

### **“Infinite loops” and break**

A loop in which the terminating condition is never satisfied or for which there is no terminating condition is called an infinite loop

In [ ]:
n = 10
while True:
    print(n, end=' ')
    n = n - 1
print('Done!')

# This program will run forever or until your battery runs out because 
# the logical expression at the top of the loop is always true by virtue of the fact that the expression is the constant value True

In [33]:
# Suppose you want to take input from the user until they type done

while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('Done!')

# This way of writing while loops is common because you can check the condition anywhere in the loop (not just at the top) and 
# you can express the stop condition affirmatively (“stop when this happens”) rather than negatively (“keep going until that happens.”)

s

dfgd

Done!

In [35]:
#  use the continue statement to skip to the next iteration without finishing the body of the loop for the current iteration.
while True:
    line = input('> ')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Done!')

# All the lines are printed except the one that starts with the hash sign because when the continue is executed, 
# it ends the current iteration and jumps back to the while statement to start the next iteration, thus skipping the print statement

sdf

sd

sdf

Done!

### **for loops**

 the for loop is looping through a known set of items so it runs through as many iterations as there are items in the set.

In [36]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [37]:
for friend in friends:
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

### **Counting and summing loops**

In [38]:
count = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    count = count + 1
print('Count: ', count)

Count:  6

In [39]:
total = 0
for itervar in [3, 41, 12, 9, 74, 15]:
    total = total + itervar
print('Total: ', total)

# As the loop executes, total accumulates the sum of the elements; a variable used this way is sometimes called an accumulator.
# Neither the counting loop nor the summing loop are particularly useful in practice because
# there are built-in functions len() and sum() that compute the number of items in a list and the total of the items in the list respectively

Total:  154